@model Website.ViewModels.Blocks.Hero.HeroBlockViewModel

<section>
    <div class="jumbotron">
        <h1>@Model.Block.Heading</h1>
        <p>@Model.Block.Subheading</p>
        <p><a class="btn btn-primary btn-lg" href="@Model.Block.CallToActionLink.Path" role="button">Learn more</a></p>
    </div>
</section>