@model Website.Models.Blocks.RichTextBlock
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                @Html.PropertyFor(x => x.RichText)
            </div>
        </div>
    </div>
</section>