@model Website.ViewModels.Nodes.CategoryNode.CategoryNodeViewModel
@{
    Layout = "~/Views/Shared/Layout/_2ColumnLayout.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <h1>@Model.Model.Name</h1>
            <p>@Model.Model.SeoInformation.Description</p>
        </div>
        <div class="col-xs-4">
            <img class="img-responsive" src="http://placehold.it/800x600?text=@Model.Model.Name" />
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                @foreach (var variation in Model.MusicLessonVariations)
                {
                    <div class="col-xs-4">
                        @Html.Partial("~/Views/Shared/Partials/MusicLessonVariationCard/_MusicLessonVariationCard.cshtml", variation)
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Right
{
    <div>

    </div>
}
