<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CommerceManagerLink" value="http://promotions-and-personalization-commerce/"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <connectionStrings>
    <add name="EPiServerDB" 
         connectionString="Data Source=.\sql2016;Initial Catalog=PromotionsAndPersonalizationWebsite;Connection Timeout=60;User ID=local;Password=local;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EcfSqlConnection" 
         connectionString="Data Source=.\sql2016;Initial Catalog=PromotionsAndPersonalizationCommerce;Connection Timeout=60;User ID=local;Password=local;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <episerver.framework>
    <appData basePath="..\data"
             xdt:Transform="Replace" />
  </episerver.framework>
</configuration>